#logo
{
	position: absolute;
	top: 100px;
	left: 50px;
}
.tooltip
{
	
	position: absolute;
	position: absolute;
	top: 0px;
	left: 35px;
	height: 193px;
	width: 130px;
	z-index: 50;
	cursor: pointer;
}
#home
{
	display: none;
}

#about
{
	display: none;	
}

#team
{
	display: none;
}

#contact
{
	display: none;
}

#signup
{
	display: none;
}

.triangle
 {
 	position: absolute;
 	top: 57px;
	left: 58px;
	width: 0px;
	height: 0px;
	 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid;
	z-index: 20;

}

.rectangle
{
	background-image: url('bodybg1.png');
	position: absolute;
	top: 73px;
	left: 0px;
	height: 120px;
	width: 130px;
	z-index: 20;
}


#nav-bar
{  
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top:0px;
	height: 50px;
	width: 97%;
   	background-color: #585B6B;
	overflow: hidden;
	z-index: 10;
	margin: 0px;
}

#navbar-bottom
{
	position: fixed;
	top: 48px;
	width: 100%;
	height: 10px;
	z-index: 20;
	background-color: #888888;
}

li 
{
	float: left;
	padding: 10px;
	list-style-type: none;
	margin-right: 20px;
	margin-left: 30px;	
}


body {
	margin:0;
	padding:0;
	width: 100%;
}

div.background {
	position:absolute;
	left:0px;
	top:0px;
	z-index:-1;
}
div.background img {
	position:fixed;
	list-style: none;
	left:0px;
	top:0px;
}
div.background ul li.show {
	z-index:500
}
.content {
	width:900px;
	margin:20px auto;
	background:#fff;
	padding:30px;
}